@{
    ViewData["Title"] = "Apagar contato";
}

<div class="text-center">

    <h3>Realmente deseja apagar o contato(Nome)?</h3>
    
</div>
<br />
<a class="btn btn-primary" role="button" asp-action="Index" asp-controller="Contato">Cancelar exclusão</a>
<a class="btn btn-danger" role="button" asp-action="Apagar" asp-controller="Contato">Confirmar exclusão</a>
